@model Ayana.Models.Product

@{
    ViewData["Title"] = "Details";
}
<style>
    .*{
        margin:0;
    }
</style>
<p style="font-weight:600; font-style:italic; margin-left:710px; font-size:medium;">@Model.Name</p>
<p style="margin-left:710px;">BAM @Model.Price.00</p>
<div style="width:250px;margin-top:40px; margin-left:710px;">
    @Model.Description
</div>
<button style="background-color:grey;margin-top:40px;margin-left:710px;">Add to Cart</button>

