@model List<Ayana.Models.Product>


@{
    ViewData["Title"] = "SearchResult";
}
@if (Model.Count == 0)
{
    <p>We are sorry, we don't have anything that matches your search. Check your spelling and try again!</p>
}else{
<div class="row text-center" style="margin-bottom:100px;">
    @foreach (Product p in Model)
    {
        <div class="col-sm-4">
                <div>
                    <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@p.ProductID" style="-webkit-text-fill-color:black;">
                <img src="https://e0.pxfuel.com/wallpapers/996/249/desktop-wallpaper-earth-white-tulip-white-tulips.jpg" alt="" width="200" height="200">
                <p><strong> @p.Name</strong></p></a>
                <p>BAM @p.Price.00</p>
            </div>
        </div>
    }
</div>}
