
@{
    ViewData["Title"] = "AboutUs";
}

<div style="background-color:#f0d9d7;margin-left:-125px; margin-top:10px;width:1080px; height:190px; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    <br>
    <p style="margin-top:-10px; margin-left:30px; margin-right:10px;">  
        We believe every day has something worth celebrating and flowers,
        plants and gifts make it so much brighter!
    </p>
    <br>
    <p style="margin-top:-10px; margin-left:30px;margin-right:10px;">
        We deliver florist-crafted arrangements, dropship bundles, fresh plants
        and we are partners with trending gifting brands to ensure everyone gets
        the gift they will love.
    </p>
    <img src="https://lh3.googleusercontent.com/XlaqIgGlEbiB7CbSFRBqvXnpihFH0bStvKliplYhoWYQcgQnMFiLM28xlD41AH-i3Dy8jDD_lfxuJrNCU_vome1QiMA0unBoqO3nspLW" style="float:right; height:190px; margin-right:-282px; margin-top:-131.7px;"></img>
</div>
<div style="background-color:#e9f0d7; margin-left:30px; width:200px; height:200px; margin-bottom:140px;">
   <p style="text-align:center; margin-top:20px; font-weight:600; ">greener outside & in</p>
    <p style="text-align:left; margin-top:20px; font-size:small;">
        We are commited to
        sustainable pratice
        beginning at the farms and
        how it arrives at your door
    </p>
</div>
<div style="background-color:#d8e5f1; margin-left:450px; width:200px; height:200px;;margin-top:-340px;">
   <p style="text-align:center; margin-top:20px;font-weight:600; margin-top:5px;">freshness guarantee</p>
    <p style="text-align:left; margin-top:20px; font-size:small;">
        Our priority is for you to
        get the most beautiful
        flowers, so we offer you
        a 7-day freshness
        guarantee
    </p>
</div>
<div style="background-color:#e2ddeb; margin-left:900px; width:200px; height:200px; margin-top:-220px;">
 <p style="text-align:center; margin-top:20px; font-weight:600;">freshness guarantee</p>
    <p style="text-align:left; margin-top:20px; font-size:small;">
        Experience the power  of
        bold colors in our
        collections of fresh blooms
    </p>
</div>
<br>
<br>
<br>
<div style="height:20px;"></div>

