
@{
    ViewData["Title"] = "DeliveryPolicy";
}

<h1 style="font-size:25px; font-weight:600; font-style:italic; text-align:center; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Delivery Policy</h1>
<br>
<div style="font-size:15px; font-weight:400;  text-align:left; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    <p>We deliver flowers, plants, and specialty gifts to almost 100% of Bosnia and Herzegovina.</p>
<p>
    For business deliveries, if the business is closed or not accepting deliveries, delivery will be attempted the next business day.
    During holidays, deliveries may be made as late as 5 p.m.
    </p>
    <p>
        Please include apartment, unit, or room number in the delivery address, if applicable.
    </p>
    <p>
        For hospital deliveries, please make sure the recipient is still in the hospital before scheduling the delivery.
    </p>
    <p>
        In most areas of Bosnia and Herzegovina, most orders placed as late as 2 p.m.  can be delivered that day (earlier times may apply
        to some areas and during holidays). Unfortunately, we cannot guarantee delivery at a specific time of day.
    </p>
</div>