
@{
    ViewData["Title"] = "Help";
}

<div>
    <h1 style="font-weight:700; font-size:larger; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">How to Choose Flowers for Every Occasion</h1>
    <p style="font-weight:400; font-size:small; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
        Picking out the right flowers for different occasions can be challenging. You may wonder, “What kind should I get? What color should they be?”
        Many factors must be considered before making your selection. Knowing the symbolism and connotation of flower types and flower colors, can help you
        in choosing just the right arrangement.
    </p>
    <img src="https://www.proflowers.com/blog/_next/image?url=https%3A%2F%2Fimages.ctfassets.net%2Fi3tkg7dt3kro%2F5ePxapBFIVLAL8sygaQMcR%2F7984708890d92d1c2f8e9ee0a451eb95%2Fflowers-by-occasion.jpg&w=1920&q=75" class="center">
   
</div>

