@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
    background-color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .boxed{
        background-color: #fbf8f9;
    }
</style>
<div >
    <div style="background: #fbf8f9;text-align:left;padding:1em 0; margin-left:-130px;  width:103%; height:350%;" >
        <h1 style="margin-left:50px; margin-top:10px;font-style:italic;">Say it with flowers</h1>
        <p style="margin-left:50px;margin-top:10px;font-style:italic;">Whatever the occasion, our flowers make it special!</p>
        <a asp-area="" asp-controller="Subscriptions" asp-action="Index" style="margin-left:80px;margin-top:30px;margin-bottom:25px; background-color:grey; border-color:darkgrey; -webkit-text-fill-color:white;"> Subsription </a>
    </div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqAT5vptItn_pU8w3O25sGfAulMy1N9LZ8YnIQEOWSWNNd-38b" style="float:right; margin-right:-128px;margin-top:-225px;">
</div>

