@{
    ViewData["Title"] = "Home Page";
}

<style>
    body{
    background-color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow:auto;
    }
    .boxed{
        background-color: #fbf8f9;
    }
</style>
<div class="row slideanim">
    <div  style="background: #fbf8f9;text-align:left;padding:1em 0; margin-left:10px;  width:85%; height:400%;">
        <h1 style="margin-left:50px; margin-top:10px;font-style:italic;">Say it with flowers</h1>
        <p style="margin-left:50px;margin-top:10px;font-style:italic;">Whatever the occasion, our flowers make it special!</p>
        <a asp-area="" asp-controller="Subscriptions" asp-action="Index" style="margin-left:80px;margin-top:30px;margin-bottom:25px; background-color:grey; border-color:darkgrey; -webkit-text-fill-color:white;"> Subsription</a>
   </div>
    <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqAT5vptItn_pU8w3O25sGfAulMy1N9LZ8YnIQEOWSWNNd-38b" style="float:right; margin-right:20px;" height="137">
</div>
<br>
<p style="text-align:center; font-size:x-large; font-style:italic; font-weight:300;">Best sellers</p>
<br>

        <div class="row text-center">
            <div class="col-sm-3">
                <div>
            <img src="https://placehold.it/150x80?text=IMAGE" alt="" width="200" height="200">
                    <p><strong></strong></p>
                    <p></p>
        </div>
            </div>
            <div class="col-sm-3">
                <div >
            <img src="https://placehold.it/150x80?text=IMAGE" alt="" width="200" height="200">
                    <p><strong></strong></p>
                    <p></p>
        </div>
            </div>
            <div class="col-sm-3">
                <div >
            <img src="https://placehold.it/150x80?text=IMAGE" alt="" width="200" height="200">
                    <p><strong></strong></p>
                    <p></p>
        </div>
            </div>
        
<div class="col-sm-3">
    <div >
        <img src="https://placehold.it/150x80?text=IMAGE" alt="" width="200" height="200">
        <p><strong></strong></p>
        <p></p>
    </div>
</div>
</div>
