@model Ayana.Models.Subscription

@{
    ViewData["Title"] = "Details";
}
<style>
    
    .container {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }

    .box {
        width: 300px;
        height: 300px;
        display: flex;
        text-align: left;
        font-weight: bold;
        border: none;
        position: relative;
        margin-right: 50px
    }

    .wide-input {
        width: 250px;
        margin-bottom:150px
    }

    .*{
        margin:0;
       
    }
</style>
<a asp-area="" asp-controller="Home" asp-action="Index" style="font-size: medium; -webkit-text-fill-color:black;"> Continue shoping</a>
<div class="container" style="margin-bottom:150px;">
    <div class="box" >
        <img src="https://images.123-flowers.co.uk/fetch/https://www.123-flowers.co.uk/images/subscriptions/labelle.jpg">
        <div>
            <p style="font-weight:600;  margin-left:20px; font-size:medium; width: 150px;">@ViewBag.Data1</p>
            <p style="font-weight:400; font-style:italic;margin-bottom:20px; margin-left:20px;font-size:small;width: 150px;">@ViewBag.Data2</p>
            <p style="font-weight:600;  margin-left:20px; font-size:medium; width: 150px;">Subscription duration</p>
            <p style="font-weight:400; font-style:italic; margin-left:20px;font-size:small;width: 150px;">Monthly</p>
        </div>
    
    </div>
    <div>
        <div class="wide-input">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <p style="font-weight:600; margin-left:20px; font-size:medium; width: 300px;">Delivery address</p>
           
                <div class="form-group">
                    <p style="font-weight:600; margin-left:20px; font-size:medium; width: 300px;">Select your first delivery date</p>
                    <p style="font-weight:400; font-style: italic;margin-left:20px; font-size:small; width: 400px;">This will be the first delivery date, after this date we will aim to deliver the remaining deliveries on the closest possible date monthly.</p>
                    <input asp-for="DeliveryDate" class="form-control" />
                    <span asp-validation-for="DeliveryDate" class="text-danger" ></span>
                </div>
               <div class = "form-group">
                 <input type = "submit" value="Pay now" class = "btn btn-primary"/>
               </div>
                <!-- Hidden input fields -->
                <input type="hidden" asp-for="Name" value=@ViewBag.Data1 />
                <input type="hidden" asp-for="Price" value=@ViewBag.Data2 />
                <input type="hidden" asp-for="PaymentID" value=1 />
                <input type="hidden" asp-for="SubscriptionType" value=1 />
                <input type="hidden" asp-for="CustomerId" value=1 />
           


            </form>   
        </div>
    </div>
</div>
