@using Ayana.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewData["Title"] - Ayana</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/component.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="js/modernizr.custom.js"></script>
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">

    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <style>
        .navbar-custom {
            background-color: white;
        }

        .topnav-centered {
            float: none;
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-text-fill-color: black;
            font-size: xx-large;
            font-weight: 600;
        }

        .search-bar {
            display: flex;
            align-items: center;
            width: 800px;
            height:40px;
            background-color: transparent;
            border-radius: 20px 20px 20px 20px;
        }

            .search-bar input[type="text"] {
                flex: 1;
                padding: 8px;
                font-size: 16px;
                border: none;
                outline: none;
border-radius: 20px 20px 20px 20px; width: 800px;
                height: 38px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }

            .search-bar .search-icon {
                padding: 8px;
                color: #555;
                cursor: pointer;
                border-radius: 20px 0 0 20px;
            }

                .search-bar .search-icon i {
                    font-size: 20px;
                }

                .search-bar .search-icon:hover {
                    color: #000;
                }

        .menu-options {
            display: none;
            background-color: #f9f9f9;
            min-width: 150px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 8px 0;
            z-index: 1;
            float: right;
            position: absolute;
            top:70%;
            left: 94.6%;
            transform: translate(-50%, -50%);
            -webkit-text-fill-color: black;

        }

            .menu-options li {
                padding: 8px 16px;
            }

                .menu-options li:hover {
                    background-color: #f1f1f1;
                }

        .menu-trigger:hover .menu-options {
            display: block;
        }
            .topnav-centered a:link {
                text-decoration: none;
            }

            .topnav-centered a:visited {
                text-decoration: none;
            }

            .topnav-centered a:hover {
                text-decoration: none;
            }

            .topnav-centered a:active {
                text-decoration: none;
            }


        .subnav {
            float: left;
            overflow: hidden;
        }

            /* Subnav button */

            .subnav .subnavbtn {
                border: none;
                outline: none;
                color: black;
                padding: 14px 16px;
                background-color: transparent;
                margin-top: 40px;
            }


        /* Style the subnav content - positioned absolute */
        .subnav-content {
            display: none;
            position: absolute;
            left: 0;
            background-color: #e8e4c9;
            width: 128.8%;
            margin-left: -200px;
            height: 200%;
            z-index: 1;
        }
                    /* Style the subnav links */
            .subnav-content a {
                float: left;
                color: #e8e4c9;
                text-decoration: none;
            }

                /* Add a grey background color on hover */
                .subnav-content a:hover {
                    background-color: #e8e4c8;
                    color: black;
                }

        /* When you move the mouse over the subnav container, open the subnav content */
        .subnav:hover .subnav-content {
            display: block;
        }

        .topnav-right {
            float: right;
            position: absolute;
            top: 20%;
            left: 85%;
            transform: translate(-50%, -50%);
            -webkit-text-fill-color: black;
        }

        .topnav-right2 {
            float: right;
            position: absolute;
            top: 20%;
            left: 90%;
            transform: translate(-50%, -50%);
            -webkit-text-fill-color: black;
        }

        .topnav-right3 {
            float: right;
            position: absolute;
            top: 20%;
            left: 94.6%;
            transform: translate(-50%, -50%);
            -webkit-text-fill-color: black;
        }

        .topnav-right4 {
            float: right;
            position: absolute;
            top: 20%;
            left: 98.5%;
            transform: translate(-50%, -50%);
            -webkit-text-fill-color: black;
        }

        body {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-palette: dark;
        }

        .custom {
            border-bottom: 1px solid black;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-custom border-bottom custom" style=" height:100px;">
            @if (User.IsInRole("Employee"))
            {
                <div class="account-menu">
                            <div class="menu-trigger">
                                <button class="menu-toggle" style="float: left;
            position: absolute;
            top: 20%;
            left: 4.6%;
            transform: translate(-50%, -50%);
            -webkit-text-fill-color: black; border:none; background-color:white;">
                                    Report
                                </button>
                                <ul class="menu-options" style="float:left; top:95%;left:5%;">
                                    <li><a asp-controller="Reports" asp-action="CreateReport" asp-route-type="weekly" style="-webkit-text-fill-color:black;">Weekly report</a></li>
                                    <li><a asp-controller="Reports" asp-action="CreateReport" asp-route-type="monthly" style="-webkit-text-fill-color:black;">Monthly report</a></li>
                            <li><a asp-controller="Reports" asp-action="CreateReport" asp-route-type="yearly" style="-webkit-text-fill-color:black;">Yearly report</a></li>
                        </ul>
                            </div>
                        </div>
            }
                <a class="topnav-centered" asp-area="" asp-controller="Home" asp-action="Index">a  y  a  n  a</a>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                          <div class="subnav">
                            <a class="subnavbtn" style=" float: right;
            position: absolute;
z-index:1;
left: 85%;
margin-top:-28.6px;
            transform: translate(-50%, -50%);
            -webkit-text-fill-color: black;" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fa fa-fw fa-search"></i>Search
                            </a>

                        <div class="subnav-content" style="margin-left:-29%;">
                                <div class="search-bar" style="margin-left:750px; margin-top:12px;">
                                    <form asp-area="" asp-controller="Products" asp-action="SearchResult" asp-route-search="search" method="post">
                                            <input type="text" id="search" name="search" placeholder="Search..." style="" />
   
                                    </form>
                                </div>
                                <a style="margin-left:530px; margin-top:25px; font-weight:700;">Popular searches</a>
                                <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="Rose" style="-webkit-text-fill-color:black;margin-left:-113px; margin-top:55px;">Roses</a>
                                <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="Sunflower" style="-webkit-text-fill-color:black;margin-left:-113px; margin-top:85px">Sunflowers</a>
                                <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="Tulip" style="-webkit-text-fill-color:black;margin-left:-113px; margin-top:115px">Tulips</a>
                                <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="Valentine's day" style="-webkit-text-fill-color:black;margin-left:210px; margin-top:25px;">Valentine's day</a>
                                <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="Birthday" style="-webkit-text-fill-color:black;margin-left:-103px; margin-top:55px;">Birthday</a>
                                <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="Anniversary" style="-webkit-text-fill-color:black;margin-left:-103px; margin-top:85px">Anniversary</a>
                                <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="Mother's day" style="-webkit-text-fill-color:black;margin-left:-103px; margin-top:115px">Mother's day</a>
                                <a  style="margin-left:250px; margin-top:25px; font-weight:700;">Search by price</a>
                                <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="BAM 35.00 & Under" style="-webkit-text-fill-color:black;margin-left:-103px; margin-top:55px;">BAM 35.00 & Under</a>
                                <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="BAM 60.00 & Under" style="-webkit-text-fill-color:black;margin-left:-133px; margin-top:85px">BAM 60.00 & Under</a>
                                <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="BAM 100.00 & Under" style="-webkit-text-fill-color:black;margin-left:-133px; margin-top:115px">BAM 100.00 & Under</a>
                        </div>
                        </div>
                        </li>
                        <li class="nav-item">
                            <a class="topnav-right2 text-dark" asp-area="" asp-controller="Home" asp-action="Help">Help</a>
                        </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="account-menu">
                            <div class="menu-trigger">
                                <button class="menu-toggle" style="float: right;
            position: absolute;
            top: 20%;
            left: 94.6%;
            transform: translate(-50%, -50%);
            -webkit-text-fill-color: black; border:none; background-color:white;">
                                    Account
                                </button>
                                <ul class="menu-options">
                                    <li><a href="@Url.Action("UserOrders", "Orders")" style="-webkit-text-fill-color:black;">Orders</a></li>
                                    <li><a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" style="-webkit-text-fill-color:black;">Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    }

                    else
                    {
                        <li class="nav-item">
                            <a class="topnav-right3 text-dark" asp-area="Identity" asp-page="/Account/Login">Sign in</a>
                    </li>
                    }
                    
                        <li class="nav-item">
                        <a class="topnav-right4 text-dark" asp-area="" asp-controller="DtoRequests" asp-action="Cart" asp-route-discountAmount=0 asp-route-discountType=1><i class="fa fa-fw fa-shopping-cart"></i></a>
                        </li>
                    </ul>
                </div>

            


        </nav>

    </header>
    <div class="container" style="margin-top:-115px;">
        <nav class="navbar navbar-custom border-none" style="background-color:transparent; ">
            <div class="subnav">
                <button class="subnavbtn">Occasions </button>
                <div class="subnav-content">
                    <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="birthday" style="-webkit-text-fill-color:black;margin-left:550px; margin-top:40px;">Birthday</a>
                    <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="mother's day" style="-webkit-text-fill-color:black;margin-left:-56px; margin-top:70px;">Mother's day</a>
                    <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="valentine's day" style="-webkit-text-fill-color:black;margin-left:-86px; margin-top:100px">Valentine's day</a>
                    <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="thank you" style="-webkit-text-fill-color:black;margin-left:-102px; margin-top:130px">Thank you</a>
                    <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="anniversary" style="-webkit-text-fill-color:black;margin-left:350px; margin-top:40px;">Anniversary</a>
                    <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="love & romance" style="-webkit-text-fill-color:black;margin-left:-79px; margin-top:70px;">Love & romance</a>
                    <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="women's day" style="-webkit-text-fill-color:black;margin-left:-107px; margin-top:100px">Women's day</a>
                    <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="cheer someone up" style="-webkit-text-fill-color:black;margin-left:-107px; margin-top:130px">Cheer someone up</a>
                </div>
            </div>
            <div class="subnav">
                <button class="subnavbtn" style="margin-left:110px;">Flowers </button>
                <div class="subnav-content">
                    <a style="margin-left:400px; margin-top:40px; font-weight:600;">All flowers</a>
                    <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="carnation" style="-webkit-text-fill-color:black;margin-left:-72px; margin-top:70px;">Carnations</a>
                    <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="tulip" style="-webkit-text-fill-color:black;margin-left:-72px; margin-top:100px">Tulips</a>
                    <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="gerbera" style="-webkit-text-fill-color:black;margin-left:-72px; margin-top:130px">Gerberus</a>
                    <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="orchid" style="-webkit-text-fill-color:black;margin-left:250px; margin-top:40px;">Orchids</a>
                    <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="lily" style="-webkit-text-fill-color:black;margin-left:-53px; margin-top:70px;">Lilies</a>
                    <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="sunflower" style="-webkit-text-fill-color:black;margin-left:-53px; margin-top:100px">Sunflowers</a>
                    <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="daisy" style="-webkit-text-fill-color:black;margin-left:-73px; margin-top:130px">Daisies</a>
                    <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="Rose" style="-webkit-text-fill-color:black;margin-left:250px; margin-top:40px;">Roses</a>
                </div>
            </div>
            <div class="subnav">
                <button class="subnavbtn" style="margin-left:110px;">Gifts </button>
                <div class="subnav-content">
                    <a style="margin-left:400px; margin-top:40px;font-weight:600;">Featured gifts</a>
                    <a style="margin-left:-93px; margin-top:70px;">All gifts</a>
                    <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="gift basket" style="-webkit-text-fill-color:black;margin-left:-93px; margin-top:100px">Gift baskets</a>
                    <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="gift box" style="-webkit-text-fill-color:black;margin-left:-93px; margin-top:130px">Gift boxes</a>
                    <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="sweets" style="-webkit-text-fill-color:black;margin-left:250px; margin-top:40px;font-weight:600;">Sweets</a>
                    <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="chocolate" style="-webkit-text-fill-color:black;margin-left:-47px; margin-top:70px;">Chocolates</a>
                    <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="strawberry" style="-webkit-text-fill-color:black;margin-left:-75px; margin-top:100px">Chocolate covered strawberries</a>
                    <a asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="cookie" style="-webkit-text-fill-color:black;margin-left:-213px; margin-top:130px">Cookies</a>
                   
                </div>
            </div>
            <div class="subnav" style="margin-top:4%;">
                <a  asp-area="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="Plant"  style="margin-left:110px; -webkit-text-fill-color:black; margin-top:1200px;">Plants </a>
            </div>
            <div class="subnav" style="margin-top:4%;">
                <a class="subnavbtn" asp-area ="" asp-controller="Products" asp-action="PopularSearches" asp-route-popularsearch="Rose"  class="subnavbtn" style="margin-left:110px;">Personalized rose box </a>

            </div>
        </nav>
        </div>
    <div class="container" >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br><br><br>
    <footer class="border-top footer text-muted flex-grow-1" style="background-color:#e9f0d7; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
        <div class="container" style="background-color:#e9f0d7; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            <a style="-webkit-text-fill-color:black;font-size:x-large;font-weight:600;  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; margin-left:initial;; " asp-area="" asp-controller="Home" asp-action="Index">A y a n a</a>
        </div>
        <div style="margin-top:-25px;">
            <a style="margin-left:120px;-webkit-text-fill-color: black;
font-size: large;
            font-weight: 400;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
" asp-area="" asp-controller="Home" asp-action="AboutUs" style="margin-top:100px;">About us</a>
        </div>
        <div style="margin-top:-35px; margin-left:120px;">
            <a style="-webkit-text-fill-color: black;
font-size: large;
            font-weight: 400;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" asp-area="" asp-controller="Home" asp-action="DeliveryPolicy">Delivery policy</a>
        </div>
        <div style="margin-top:-35px; margin-left:120px;">
            <a style="-webkit-text-fill-color: black;
font-size: large;
            font-weight: 400;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" asp-area="" asp-controller="Home" asp-action="Subscription">Subscription</a>
            <a style="margin-left:1000px; margin-bottom:2000px;" href="https://www.instagram.com/ayana.flowershop/">
                <i class="fa fa-instagram" style="font-size:36px"></i>
            </a>
        </div>
       
    </footer>
    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>